{% extends 'base.html' %}
{% block content %}
{% load static %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">درباره ما</h1>
            <p class="lead fw-normal text-white-50 mb-0">داستان ما را بشنوید!</p>
        </div>
    </div>
</header>
<br><br>
<div class="container">
    <div class="row">
        <center>
            <div class="col-10">
                <p align="justify">
                  درباره ما

این وب‌سایت نسخه اولیه‌ای از یک پروژه نوآورانه است که با استفاده از Django طراحی و توسعه یافته است. هدف ما ایجاد یک پلتفرم پایدار، مقیاس‌پذیر و آماده برای توسعه‌های گسترده در آینده است.

با وجود اینکه این نسخه هنوز نقطه شروع مسیر است، معماری سایت به‌گونه‌ای طراحی شده که ظرفیت افزودن امکانات پیشرفته و گسترش سریع را دارد. ما با تمرکز بر تجربه کاربری، عملکرد و امنیت، در مسیر ساخت یک محصول قدرتمند و کاربردی حرکت می‌کنیم.

این پروژه، تنها آغاز راه ماست و با حمایت و بازخورد شما، به سرعت به نسخه‌های کامل‌تر و توانمندتری تبدیل خواهد شد.

تماس با ما

برای هرگونه سؤال، پیشنهاد یا بازخورد می‌توانید با ما از طریق راه‌های زیر در تماس باشید:

ایمیل پشتیبانی: hamidbahrami88a@gmail.com

آیدی ایتا: @Persian_gulf_Backup
                </p>
            </div>
        </center>
    </div>
</div>
<br><br>
{% endblock %}
